@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme{
    --color-portfolio-bg: oklch(0.9791 0 0);
    --color-portfolio-text: oklch(0.3107 0.0338 286.66);
    --color-portfolio-theme: oklch(0.5973 0.2237 279.77);
    --color-portfolio-white: oklch(0.9866 0.0021 17.19);

    --color-portfolio-bg-dark: oklch(0.2063 0.0683 264.12);
    --color-portfolio-text-dark: oklch(0.9791 0 0);
    --color-portfolio-theme-dark: oklch(0.4782 0.1523 276.54);

    --font-roboto: 'Roboto', sans-serif ;
 }

 @custom-variant dark (&:where(.dark, .dark *)) 